<?xml version="1.0" encoding="UTF-8"?>

<suite name="Suite">
  <test thread-count="5" name="Test">
  <parameter name = "param1" value = "abc@098.com"/>
  <parameter name = "param2" value = "xyz@123"/>
    <classes>
      <class name="TestCases.HomePageTest"/>
      <class name="TestCases.LoginTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
